# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PowerShell
*.ps1xml

# Temporary files
*.tmp
*.temp
*~

# Editor files
.vscode/
.vs/

# Logs
*.log
# build artefacts

/*.res
/*.obj
/*.o

# VS Code local settings
.vscode/

# macOS junk
.DS_Store   